{% load static %}
{% load tailwind_tags %}
{% load compress %}
<!DOCTYPE html>
<html lang="{% block html_lang %}es{% endblock %}" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Agro Veterinaria{% endblock %}</title>

    {% block meta_tags %}
    <meta name="description" content="{% block meta_description %}Tienda especializada en productos veterinarios y agrícolas{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}veterinaria, agricultura, productos, animales{% endblock %}">
    {% endblock %}

    {% tailwind_css %} {# Tailwind generado por django-tailwind #}

    {% compress css %}
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    {% endcompress %}

    {% block extra_css %}{% endblock %}
    {% block extra_head %}{% endblock %}
</head>
<body class="{% block body_class %}bg-gray-50 flex flex-col min-h-screen h-full dark:bg-gray-900 dark:text-white{% endblock %}">

    {% block header %}
        {% include "components/header.html" %}
    {% endblock %}


    <div class="sm:ml-64 mt-16 flex flex-col flex-grow min-h-[calc(100vh-64px)]">
        <main class="{% block main_class %}container mx-auto px-4 pt-8 pb-4 flex-grow{% endblock %}">
            <div class="px-4 pt-16 mt-8 flex-grow">
                {% block messages %}
                    {% include "components/messages.html" %}
                {% endblock %}
                {% block content %}{% endblock %}
            </div>
        </main>
        <div class="mt-auto">
            {% block footer %}
                {% include "components/footer.html" %}
            {% endblock %}
        </div>
    </div>


    {% block base_js %}
    {% include "components/scripts.html" %}
    {% endblock %}

</body>
</html>
